/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Saira:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

/*========== Colors ==========*/
/*Color mode HSL(hue, saturation, lightness)*/
--first-color: hsl(25, 60%, 40%);        /* Nâu cà phê chính */
--first-color-alt: hsl(25, 55%, 35%);    /* Nâu đậm hơn cho hover */
--title-color: hsl(25, 70%, 20%);        /* Nâu sẫm cho tiêu đề */
--text-color: hsl(25, 15%, 35%);         /* Nâu xám nhẹ cho nội dung */
--white-color: hsl(0, 0%, 100%);         /* Trắng tinh khiết */
--dark-color: hsl(25, 65%, 15%);         /* Nâu rất đậm */
--body-color: hsl(30, 62%, 80%);         /* Be sáng cho nền */
--body-white-color: hsl(0, 0%, 100%);    /* Trắng nền phụ */
--body-first-color: hsl(25, 60%, 40%);   /* Nâu chủ đạo */


  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", serif;
  --second-font: "Saira", serif;
  --biggest-font-size: 4.5rem;
  --big-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 9.5rem;
    --big-font-size: 4rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--second-font);
  font-weight: var(--font-medium);
  line-height: 110%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 4rem;
}

.section__title {
  text-align: center;
  font-size: var(--big-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow 0.4s;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--font-semi-bold);
  transition: color 0.4s;
}
.nav__logo:hover {
  color: var(--first-color);
}

.nav__close,
.nav__toggle {
  display: flex;
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    width: 100%;
    top: -120%;
    left: 0;
    background-color: var(--body-color);
    padding-block: 4rem;
    box-shadow: 0 8px 16px hsla(166, 85%, 8%, .3);
    transition: top .4s;
  }
}

.nav__list{
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.nav__link{
  color: var(--white-color);
  font: var(--font-medium) var(--h1-font-size) var(--second-font);
  line-height: 110%;
  transition: color .4s;
}
.nav__link:hover{
  color: var(--first-color);
}

.nav__close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
/* Show menu */
.show-menu{
  top: 0;
}
/* Add shadow header */
.shadow-header{
  box-shadow: 0 4px 16px hsla(25, 60%, 40%, .3);
}
/* Active link */
.active-link{
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home__container{
  position: relative;
  padding-top: 3rem;
  row-gap: 0;
}

.home__title{
  color: var(--white-color);
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
  text-align: center;
}

.home__images{
  position: relative;
  display: grid;
  justify-items: center;
  justify-self: center;
}
.home__shape{
  width: 280px;
  height: 280px;
  background-color: var(--first-color);
  border-radius: 50%;
  clip-path: inset(50% 0 0 0);
}

.home__images img{
  position: absolute;
}

.home__coffee{
  width: 160px;
  top: -3.5rem;
  rotate: 10deg;
}

.home__splash{
  max-width: initial;
  width: 350px;
  rotate: 10deg;
  left: -3rem;
  bottom: .5rem;
}

.home__bean-1,
.home__bean-2{
  width: 40px;
}

.home__bean-1{
  top: 1.5rem;
  left: 1.5rem;
}

.home__bean-2{
  right: 3.5rem;
  bottom: 6.5rem;
  rotate: -90deg;
  filter: blur(2px);
}
.home__ice-1{
  width: 50px;
  left: 1.5rem;
  bottom: 3rem;
}

.home__ice-2{
  width: 40px;
  top: 4rem;
  right: 1.25rem;
  rotate: 60deg;
}

.home__leaf{
  width: 50px;
  right: 6rem;
  bottom: -1rem;
  rotate: -15deg;
}

.home__sticker{
  position: absolute;
  width: 50px;
  right: 0.5rem;
  top: 31rem;
  rotate: 15deg;
}

.home__data{
  margin-top: 2.5rem;
  text-align: center;
}

.home__description{
  color: var(--white-color);
  margin-bottom: 1.5rem;
}
/*=============== BUTTON ===============*/
.button{
  display: inline-flex;
  justify-content: center;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  transition: background .4s, box-shadow .4s;
}

.button:hover{
  background-color: var(--first-color-alt);
  box-shadow: 0 8px 24px hsla(25, 60%, 40%, .3);
}

.button-dark{
  background-color: var(--dark-color);
}

.button-dark:hover{
  background-color: var(--dark-color);
}
/*=============== POPULAR ===============*/
.popular{
  background-color: var(--body-white-color);
}

.popular .section__title{
  color: var(--title-color);
}

.popular__swiper{
  padding-top: 1.5rem ;
}

.popular__card{
  width: 270px;
  display: grid;
  row-gap: 1.5rem;
}

.popular__images{
  position: relative;
  display: grid;
  justify-items: center;
  justify-self: center;
}

.popular__shape{
  width: 195px;
  height: 195px;
  background-color: var(--first-color);
  border-radius: 50%;
  clip-path: inset(50% 0 0 0);
}

.popular__images img{
  position: absolute;
}

.popular__coffee{
  width: 130px;
  top: -1.5rem;
}

.popular__coffee-chua{
  width: 130px;
  top: -2.9rem;
}

.popular__bean-1{
  width: 30px;
  top: 3rem;
  left: 0.5rem;
  transition: transform .5s .1s;
}

.popular__bean-2{
  width: 20px;
  right: 2rem;
  bottom: 2rem;
  rotate: 75deg;
  filter: blur(1px);
  transition: transform .5s .1s;
}

.popular__data{
  text-align:center;
}

.popular__name{
  font-size: var(--h1-font-size);
  color:var(--title-color);
  margin-bottom: .5rem;
}

.popular__description{
  margin-bottom: 1rem;
}

.popular__card:hover .popular__bean-1{
  transform: translate(-.5rem, -.25rem);
}

.popular__card:hover .popular__bean-2{
  transform: translate(.5rem, -.25rem);
}

/* Swiper class */
.swiper{
  overflow: hidden;
}

.swiper-slide{
  height: auto;
}

/*=============== ABOUT ===============*/
.about__container{
  row-gap: 3rem;
}

.about__data{
  text-align: center;
}

.about .section__title,
.about__description{
  color: var(--title-color);
  margin-bottom: 1.5rem;
}

.about__images{
  position: relative;
  display: grid;
  place-items: center;
  justify-self: center;
}

.about__shape{
  width: 300px;
  height: 300px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.about__images img{
  position: absolute;
}

.about__coffee{
  width: 280px;
  filter: drop-shadow(0 8px 16px hsla(25, 60%, 40%, .5));
}

.about__leaf-1,
.about__leaf-2{
  width: 50px;
}

.about__leaf-1{
  top: 0.5rem;
  left: 3.5rem;
  rotate: -105deg;
}
.about__leaf-2{
  top: 7.5rem;
  right: 2.5rem;
  rotate: -15deg;
}
/*=============== PRODUCTS ===============*/
.products{
  background-color: var(--body-white-color);
}

.products .section__title{
  color: var(--title-color);
}

.products__container{
  grid-template-columns: 1fr;
}

.products__card{
  position: relative;
  background-color: var(--body-color);
  padding: 1.5rem 1.25rem;
  border-radius: .75rem;
  display: grid;
  row-gap: 1rem;
}

.products__img{
  width: 120px;
  justify-self: center;
}

.products__name{
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.products__price{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.products__button{
  position: absolute;
  right: 1.25rem;
  bottom: 1.5rem;
  width: 36px;
  height: 36px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  border-radius: 50%;
  background-color: var(--first-color);
  color: var(--white-color);
  cursor: pointer;
  transition: background-color .4s;
}

.products__button:hover{
  background-color: var(--first-color-alt);
}

/*=============== CONTACT ===============*/
.contact{
  background-color: var(--body-first-color);
}

.contact .section__title,
.contact__title,
.contact__address,
.contact__map{
  color: var(--white-color);
}

.contact__container,
.contact__content,
.contact__info{
  row-gap: 2rem;
}

.contact__title{
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.contact__social{
  display: flex;
  column-gap: 1rem;
}

.contact__social-link{
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--title-color);
  background-color: var(--white-color);
  border-radius: 50%;
  transition: transform .4s;
}

.contact__social-link:hover{
  transform: translateY(-.25rem);
}

.contact__address{
  font-style: normal;
  line-height: 1.8;
}

.contact__map{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  margin-top: .5rem;
  font-size: var(--small-font-size);
}

.contact__delivery{
  width: 270px;
  justify-self: center;
}

/*=============== FOOTER ===============*/
.footer{
  padding-block: 4rem 2rem;
}

.footer__container,
.footer__content{
  row-gap: 3rem;
}

.footer__logo,
.footer__title,
.footer__social-link{
  color: var(--title-color);
}

.footer__logo{
  justify-self: flex-start;
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.footer__social,
.footer__pay{
  display: flex;
  column-gap: .75rem;
}

.footer__social-link{
  font-size: 1.5rem;
}

.footer__pay-card{
  width: 30px;
}

.footer__form{
  display: grid;
  row-gap: 1rem;
}

.footer__input{
  width: 100%;
  background-color: var(--white-color);
  padding: .85rem 1rem;
  color: var(--text-color);
}

.footer__input::placeholder{
  color: var(--text-color);
}

.footer__button{
  justify-self: flex-start;
  cursor: pointer;
}

.footer__copy{
  display: block;
  text-align: center;
  margin-top: 5rem;
  font-size: var(--small-font-size);
  color: var(--title-color);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  background-color: hsl(25, 30%, 70%);
}

::-webkit-scrollbar-thumb{
  background-color: hsl(25, 40%, 55%);
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(25, 45%, 45%);
}

/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--first-color);
  color: var(--white-color);
  display: inline-flex;
  padding: .35rem;
  font-size: 1.25rem;
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s;
}

.scrollup:hover{
  transform: translateY(-.25rem);
}

/* Show Scroll Up */
.show-scroll{
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px){
  .container{
    margin-inline: 1rem;
  }

  .home__shape{
    width: 230px;
    height: 230px;
  }

  .home__coffee{
    width: 130px;
    top: -2.8rem;
  }

  .home__splash{
    width: 280px;
    left: -2rem;
  }

  .products__card{
    padding: 1.25rem 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 540px){
  .home__container,
  .about__container,
  .products__container,
  .contact__content,
  .footer__content{
    grid-template-columns: 350px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px){
  .popular__card{
    width: 300px;
  }

  .products__container{
    grid-template-columns: repeat(2, 240px);
    gap: 2rem;
  }

  .footer__content{
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
}

/* For large devices */
@media screen and (min-width: 1150px){
  .container{
    margin-inline: auto;
  }

  .section{
    padding-block: 7rem 5rem;
  }

  .nav{
    height: calc(var(--header-height) + 2rem);
  }

  .nav__toggle,
  .nav__close{
    display: none;
  }

  .nav__list{
    flex-direction: row;
    column-gap: 4rem;
  }

  .home__container{
    grid-template-columns: 420px 585px;
    align-items: center;
    column-gap: 5rem;
    padding-top: 5rem;
  }

  .home__data,
  .home__title{
    text-align: initial;
  }

  .home__title{
    margin-bottom: 1.5rem;
  }

  .home__description{
    margin-bottom: 2.5rem;
  }

  .home__shape{
    width: 550px;
    height: 550px;
  }

  .home__coffee{
    width: 300px;
    top: -6rem;
  }

  .home__splash{
    width: 600px;
    left: -5rem;
    bottom: 1rem;
  }

  .home__bean-1,
  .home__bean-2{
    width: 70px;
  }

  .home__bean-1{
    top: 3rem;
    left: 4rem;
  }

  .home__bean-2{
    right: 5.5rem;
    bottom: 11.5rem;
  }

  .home__ice-1{
    width: 70px;
    left: 3rem;
    bottom: 5rem;
  }

  .home__ice-2{
    width: 60px;
    top: 5rem;
    right: 2.5rem;
  }

  .home__leaf{
    width: 90px;
    right: 10rem;
    bottom: -2rem;
  }

  .home__sticker{
    width: 80px;
    top: 38rem;
    right: 2.5rem;
  }

  .popular__container,
  .products__container,
  .footer__container{
    max-width: 1200px;
  }

  .popular__swiper{
    padding-top: 3rem;
  }

  .popular__card{
    width: 325px;
    row-gap: 2rem;
  }

  .popular__shape{
    width: 240px;
    height: 240px;
  }

  .popular__coffee,
  .popular__coffee-chua{
    width: 170px;
    top: -2rem;
  }

  .popular__coffee-chua{
    top: -2.4rem;
  }

  .popular__bean-1{
    width: 36px;
    top: 4rem;
    left: 1rem;
  }

  .popular__bean-2{
    width: 26px;
    right: 2.5rem;
    bottom: 3rem;
  }

  .about__container{
    grid-template-columns: 500px 480px;
    align-items: center;
    column-gap: 6rem;
  }

  .about__data,
  .about .section__title{
    text-align: initial;
  }

  .about__shape{
    width: 460px;
    height: 460px;
  }

  .about__coffee{
    width: 430px;
  }

  .about__leaf-1,
  .about__leaf-2{
    width: 80px;
  }

  .about__leaf-1{
    left: 4.5rem;
  }

  .about__leaf-2{
    right: 3.5rem;
    top: 10rem;
  }

  .products__container{
    grid-template-columns: repeat(3, 260px);
    gap: 2.5rem;
  }

  .products__card{
    padding: 2rem 1.5rem;
  }

  .products__img{
    width: 150px;
  }

  .products__button{
    width: 42px;
    height: 42px;
    font-size: 1.35rem;
  }

  .contact__content{
    grid-template-columns: 700px 300px;
    justify-content: space-between;
    align-items: center;
  }

  .contact__info{
    grid-template-columns: repeat(3, max-content);
    column-gap: 4rem;
  }

  .contact__delivery{
    width: 320px;
  }

  .footer__container{
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

  .footer__content{
    grid-template-columns: repeat(3, max-content);
    column-gap: 5rem;
  }

  .scrollup{
    right: 2.5rem;
  }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px){
  body{
    zoom: 1.3;
  }
}
